
* {margin:0; padding:0; box-sizing:border-box;}
body {
  font-family: 'Noto Sans KR', sans-serif;
  background:#f8f6f4;
  color:#333;
  overflow-x:hidden;
}
section {
  padding:100px 20px;
  text-align:center;
}
/* ===== hero 디자인 업그레이드 ===== */
.hero {
  height:auto;
  padding:60px 20px;
  background:#f8f6f4;
  position:relative;
}
.hero h1 {
  font-family:'Playfair Display';
  font-size:48px;
  margin-bottom:20px;
}

/* SAVE 세로 텍스트 */
.save {
  position:absolute;
  right:15px;
  top:72px;
  writing-mode: vertical-rl;
  font-family:'Playfair Display';
  letter-spacing:4px;
  font-size:14px;
  opacity:0.6;
  font-weight: 500;
}

/* 날짜 */
.date {
  font-family:'Playfair Display';
  font-size:48px;
  margin-bottom:40px;
}

/* 슬라이드 */
.slider {
  position:relative;
  max-width:420px;
  margin:auto;
  border-radius:20px;
  overflow:hidden;
  height:430px; 
}

.slide {
  position:absolute;
  width:100%;
  opacity:0;
  transition:opacity 1.2s ease;
}

.slide.active {
  opacity:1;
}

.slide img {
  width:100%;
  display:block;
    height:100%;
  object-fit:cover;
}

#msg {
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.5;
  padding: 0 10px;
  white-space: pre-line;
}
/* 이름 */
.names {
  margin-top:40px;
  font-family:'Playfair Display';
  font-size:28px;
}

/* 세로 라인 */
.line {
  width:1px;
  height:50px;
  background:#999;
  margin:20px auto;
}

/* 서브텍스트 */
.sub {
  font-size:16px;
  opacity:0.7;
}
.fade-up {
  opacity:0;
  transform:translateY(40px);
  transition:all 1s ease;
}
.fade-up.active {
  opacity:1;
  transform:translateY(0);
}
.gallery {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  max-width:1000px;
  margin:auto;
}
.gallery img {
  width:100%;
  border-radius:15px;
  transition:transform 0.4s ease;
}
.gallery img:hover {
  transform:scale(1.05);
}
.message-box {
  max-width:600px;
  margin:auto;
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.05);
}
button {
  padding:12px 25px;
  border:none;
  border-radius:30px;
  background:#c6a989;
  color:white;
  cursor:pointer;
  margin-top:20px;
}
button:hover {
  background:#b89672;
}
canvas {
  position:fixed;
  top:0;
  left:0;
  pointer-events:none;
}
@media only screen and (max-width: 600px) {
.hero h1 {
  font-size:30px;
}
}
